.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.card__like-button {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

@media screen and (max-width: 480px) {
  .card {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    height: 282px;
  }
}
