.popup__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: calc(100% + -173px);
  left: 23px;
  transition: opacity 0.3s;
}

.popup__error-second {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: calc(100% + -111px);
  left: 23px;
  transition: opacity 0.3s;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__button_disabled {
  /* background-image: url("../images/submitreject.png"); */
}
